

:root {
    --brand-color: #ffffff;
    --hover-color: #2196F3;
    --additional-color: #757575;
    --title-color: #212121;

  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  li {
    margin: 0;
  }

body {
    margin: 0px 0px 0px 0px;
    color: var(--additional-color);
    font-family: Roboto, sans-seri;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.top-line {
    border: 1px solid #ECECEC;
}

.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo-web {
   color: var(--hover-color);
}



.conteiner {
 width: 1200px;
 margin: 0 auto;
 padding: 0 15px;
}
/* top-line */



.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav li {
display: block;
padding-top: 20px;
padding-bottom: 20px;
}

.site-nav li:not(:last-child) {
    margin-right: 50px;
}

.adress-nav {
    display: flex;
    margin-left: auto;
}

.adress-nav li+li {
    margin-left: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
}

/* site nav */

.adress-nav-block {
    padding: 93px;
}

.site-nav a {
    font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--hover-color)
}
/* adress nav */


.adress-nav a {
    font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;

color: var(--additional-color);
}

.adress-nav a:hover,
.adress-nav a:focus {
    color: var(--hover-color);
}

/* section-1 */

.section-1 {
    margin-left: auto;
    margin-right: auto;
    background: #2F303A;
    text-align: center;
}
/* tittle */

.section-1-busines {
font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
padding-top: 200px;
padding-bottom: 30px;
text-align: center;
color: var(--brand-color);
}
    /* button */
.button {
 min-width: 200px;
height: 50px;    
background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
margin-bottom: 201.6px;
}
    /* text */

.zakaz {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    
    align-items: center;
    letter-spacing: 0.06em;
    
    color: var(--brand-color);
}

/* section 2 */

.section-2 ul {
    display: flex;
    justify-content: space-between;
    padding-top: 94px;
}


.section-2 h3 {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
}

.section-2 p {
padding-top: 10px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--additional-color);
}

.section-tittle {
font-weight: bold;
font-size: 36px;
line-height: 1.51;
letter-spacing: 0.03em;
color: var(--title-color);
}

/* section-3 */



.section-3 ul {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}


.section-3 h2 {
    text-align: center;
    padding-top: 94px;
}
 
/* section-4 */

.section-4 {
    background: #F5F4FA;
}

.section-4 h2 {
    text-align: center;
    padding-top: 94px;
}

.section-4 h3 {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-color);
text-align: center;
padding-top: 30px;
}

.section-4 ul {
    padding-top: 50px;
    padding-bottom: 94px;
    display: flex;
    justify-content: space-between;
}

.section-4 li {
    background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.section-4 p {
    font-family: Roboto;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--additional-color);
text-align: center;
padding-top: 10px;
padding-bottom: 30px;
}

/* footer */

.logo-footer {
    padding-top: 60px;
}

footer {
    background: #2F303A;
}

.conteiner .list {
    padding-top: 20px;  
    padding-bottom: 60px;
}

.list li:not(:first-child) {
    padding-top: 9px;
}

.logo-studio {
    color: var(--brand-color);
}


.adress-mail {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.adress-tel {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}

.adress-adress {
font-size: 14px;
line-height: 1.71;
font-style: normal;
letter-spacing: 0.03em;
color: var(--brand-color);
}

/* Page-2-portfolio */

/* Section-1 */


.button-filters {
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 34px;
    
}

.images li {
    margin-top: 30px;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 94px;
}

.filters-button {
background: #F5F4FA;
border-radius: 4px;

}

.filters-button {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
    border-radius: 4px;
    border-color: #F5F4FA;
    padding: 6px 22px;
    display: inline-block;
}

.filters-button:hover,
.filters-button:focus {
    background: var(--hover-color);
    /* shadow-middle */
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: #F5F4FA;
    cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
    font-family: Roboto;;
font-weight: 500;
font-size: 16px;
line-height: 1.62;

text-align: center;
letter-spacing: 0.03em;


color: var(--brand-color);
cursor: pointer;
}

/* box */
.box {
    background: var(--brand-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 370px;
height: 404px;
}

.box h3 {
    font-family: Roboto;
font-weight: bold;
font-size: 18px;
line-height: 2;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
padding-top: 20px;
padding-bottom: 4px;
padding-left: 24px;
}

.box p {
    font-family: Roboto;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 187% */

letter-spacing: 0.03em;

color: var(--additional-color);
padding-left: 25px;
}